.App {
  text-align: center;
  box-sizing: border-box;
}
header{
  background: rgb(40, 43, 49);
  width: 100%;
  display:flex;
  color: aliceblue;
  align-items: center;
  padding: 10px;
}
img{
  height: 100px;
  padding-right: 10px;
}
nav{
position: absolute;
right:20px;
top:20px;
}
nav a {
  color: aliceblue;
}
footer{
  background: lightgray;
  width: 100%;
  position:fixed;
  bottom:0px;
  padding:20px;
}
main{
  padding: 20px 20px 70px 20px ;
}
article a{
  text-decoration: none;
} 
.title{
  padding: 10px;
  background: gainsboro;
  border-radius: 20px;
  border: solid 1px darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.comment{
  border-top: 1px solid rgb(40, 43, 49);
}